@media screen and (min-width: 1440px) {
  .header_corner_right_midlle {
    width: 5.1vw;
    height: 64%;
    div {
      width: 2.5vw;
      height: 2.5vw;
      a {
        font-size: 1vw;
      }
    }
  }
}
