@media screen and (min-width: 320px) {
  .header_head_top {
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 10.472vh;
  }
  .head_top_logo {
    top: 20%;
    z-index: 5;
    figure {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .header_corner_right_top {
    display: contents;
  }
  .header_corner_information {
    top: 1%;
    right: auto;
    height: 57px;
    width: 98%;
    text-align: center;
    h3:nth-of-type(1) {
      border-bottom: none;
      height: auto;
      color: #ffffff;
      font-size: 16px;
      padding-left: 0px;
      padding-top: 13px;
    }
    figure {
      display: none;
    }
    h3:nth-of-type(2) {
      font-size: 17px;
      padding-left: 0px;
      span {
        color: #da0037;
      }
    }
  }
  .header_corner_image {
    display: block;
    top: -20vw;
    left: -25vw;
    z-index: 0;
    figure {
      img {
        opacity: 90%;
      }
    }
  }
  .header_corner {
    height: 100%;
  }
  .header_corner_leftbottom {
    display: flex;
    align-items: end;
    div:nth-of-type(1) {
      bottom: -15vw;
      left: -9vw;
      width: auto;
      figure {
        img {
          width: 35vw;
          height: 35.723vw;
        }
      }
    }
    div:nth-of-type(2) {
      padding-left: 2vw;
      padding-bottom: 2.5vw;
      z-index: 5;
      h3 {
        font-size: 4.6vw;
        padding-left: 0.4vw;
        padding-top: 0px;
        span {
          font-size: 8vw;
        }
      }
      h5 {
        font-size: 3.4vw;
        padding-left: 3.5vw;
        padding-top: 0.5vw;
      }
    }
  }
  .header_main {
    align-items: center;
    height: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header_main_left_piece {
    margin-top: -28vw;
    figure {
      padding-top: 7px;
      img {
        width: 15vw;
        height: 15vw;
      }
    }
    h2 {
      letter-spacing: 1px;
      font-size: 5vw;
      padding-left: 12px;
      span {
        font-size: 8vw;
      }
    }
  }
  .header_name_information {
    margin-top: 16vw;
    margin-left: -5.5%;
    h1 {
      font-size: 9vw;
      margin-left: -19%;
      letter-spacing: 5px;
    }
    figure {
      margin-left: 6.5%;
      img {
        width: 48vw;
        height: 67vw;
        opacity: 75%;
      }
    }
  }
  .header_corners_page_number {
    width: 16vw;
    height: 19.2vw;
    bottom: 1.5vw;
    right: 1.8vw;
    z-index: 5;
    p {
      font-size: 16vw;
    }
  }
}
