@media screen and (min-width: 1440px) {
  .header_head_top {
    height: 8.237vh;
  }
  .header_corner_image {
    top: -6.5vw;
    figure {
      img {
        width: 18.75vw;
        height: 18.75vw;
      }
    }
  }
  .header_main {
    height: 100%;
  }
  .header_main_left_piece {
    margin-top: -27vw;
    figure {
      img {
        width: 7.7vw;
        height: 7.7vw;
      }
    }
    h2 {
      font-size: 2.3vw;
      span {
        font-size: 4vw;
      }
    }
  }
}
